/ {
	aliases {
		app-red = &led1_red;
		app-green = &led1_green;
		app-blue = &led1_blue;
	};
};

&flash0 {
	partitions {
		/delete-node/ partition@0;
		/delete-node/ partition@10000;
		/delete-node/ partition@76000;
		/delete-node/ partition@dc000;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00012000>;
		};

		slot0_partition: partition@12000 {
			label = "image-0";
			reg = <0x00012000 0x00075000>;
		};

		slot1_partition: partition@87000 {
			label = "image-1";
			reg = <0x00087000 0x00075000>;
		};

		storage_partition: partition@fc000 {
			label = "storage";
			reg = <0x000fc000 0x00004000>;
		};
	};
};
